<!--책추가 -->

<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
            <title>Document</title>
            <script src="/js/home/book.js" defer></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
         
          <form class="login-form">
            <input id="bid" type="text" placeholder="도서번호"/>
            <input id="bname" type="text" placeholder="책제목"/>
            <input id="author" type="text" placeholder="작가"/>
            <input id="publ" type="text" placeholder="출판사"/>
            <input id="ISBN" type="text" placeholder="ISBN"/>
    
            
            <p id="button">책추가하기</p>
          </form>

    
        </div>
      </div>
</body>
</html>