<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
            <title>도서관리시스템</title>
            
 </head>
<body>
    <h1>도서관리시스템</h1>

    <div class="search-page">
        <div class="search">

            <input type="text" id ="search">
            <button id="searchbtn">검색</button>


        </div>



    </div>

    <p><a href="/login">로그인</a></p> 

    
</body>
</html>